.payment-method-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.payment-method-section h2, .payment-services h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.payment-method-section select, .payment-services select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
