/* Reviews.css */

.reviews-container {
    padding: 40px 20px;
    background-color: #C15A01;
    text-align: center;
}

.reviews-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.reviews-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-card {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.review-rating {
    font-size: 20px;
    margin-bottom: 10px;
}

.review-text {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
.star1 {
    color: #ffd900 !important; /* Warna emas untuk bintang */
}
