.artwork-showcase-container {
    padding: 20px;
    text-align: center;
}

.showcase-title {
    color: #C15A01;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.category-button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button.active,
.category-button:hover {
    background-color: #C15A01;
    color: #fff;
}

.artwork-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Maksimal 4 kolom */
    gap: 15px;
    margin-bottom: 20px;
}

/* Responsive untuk ukuran layar yang lebih kecil */
@media (max-width: 1024px) {
    .artwork-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 kolom pada layar medium */
    }
}

@media (max-width: 768px) {
    .artwork-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 kolom pada layar kecil */
    }
}

@media (max-width: 480px) {
    .artwork-grid {
        grid-template-columns: 1fr; /* 1 kolom pada layar sangat kecil */
    }
}


.artwork-item {
    position: relative; /* To position overlay */
    overflow: hidden; /* Ensure that overflowing content is hidden */
    border-radius: 8px; /* Round the corners of the item */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.artwork-item img {
    width: 100%;
    height: 200px; /* Fixed height */
    object-fit: cover; /* Cover to maintain aspect ratio */
    border-radius: 8px; /* Round corners of the image */
}

.artwork-overlay {
    position: absolute; /* Position overlay on top of the image */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: #fff; /* Text color */
    padding: 10px; /* Padding for the overlay content */
    text-align: center; /* Center the text */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition for opacity */
}

.artwork-item:hover .artwork-overlay {
    opacity: 1; /* Show overlay on hover */
}

.artwork-item h3 {
    margin: 0; /* Remove default margin */
    font-size: 18px; /* Adjust font size */
}

.artwork-item p {
    margin: 5px 0 0; /* Margin for the description */
    font-size: 14px; /* Font size for description */
}

.load-more-button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.load-more-button:hover {
    background-color: #C15A01;
    color: #fff;
}
