.news-event-details {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none; /* Menghilangkan dekorasi teks untuk semua elemen di dalam container */
}

.news-event-details h1 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-decoration: none; /* Menghilangkan dekorasi teks */
}

.news-event-details img {
    margin: auto;
    display: block; /* Memastikan gambar ditampilkan sebagai blok */
    width: 200px; /* Mengatur lebar gambar agar responsif */
    height: auto; /* Menjaga rasio aspek gambar */
    border-radius: 8px;
    margin-bottom: 20px;
    text-decoration: none; /* Menghilangkan dekorasi teks */
}

.news-event-details p {
    font-size: 1em;
    color: #666;
    line-height: 1.5; /* Menambah jarak antar baris untuk keterbacaan */
    margin-bottom: 20px; /* Jarak bawah untuk paragraf */
    text-decoration: none; /* Menghilangkan dekorasi teks */
}

.news-event-details span {
    display: block; /* Menampilkan tanggal di baris baru */
    font-size: 0.9em; /* Ukuran font untuk tanggal */
    color: #999; /* Warna teks untuk tanggal */
    text-align: center; /* Rata tengah untuk tanggal */
    margin-top: 10px; /* Jarak atas untuk tanggal */
    text-decoration: none; /* Menghilangkan dekorasi teks */
}

.additional-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Jarak antar gambar tambahan */
    margin-top: 20px; /* Jarak atas untuk gambar tambahan */
    text-decoration: none; /* Menghilangkan dekorasi teks */
}

.additional-image {
    width: calc(33.33% - 10px); /* Tiga gambar per baris dengan jarak */
    height: auto; /* Tinggi otomatis untuk menjaga rasio aspek */
    border-radius: 5px; /* Sudut melengkung untuk gambar tambahan */
    text-decoration: none; /* Menghilangkan dekorasi teks */
}

/* Aturan umum untuk menghilangkan dekorasi teks dari semua elemen di dalam container */
.news-event-details * {
    text-decoration: none;
}

.event-date h2{
    text-align: center;
    font-size: 1.4em; /* Ukuran font untuk judul headline */
    margin: 0 0 5px 0; /* Jarak atas dan bawah */
    color: #333; /* Warna teks */
}